<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Cattop>
            <version>0.1.1</version>
        </Magentothem_Cattop>
    </modules>
    <frontend>
        <routers>
            <cattop>
                <use>standard</use>
                <args>
                    <module>Magentothem_Cattop</module>
                    <frontName>cattop</frontName>
                </args>
            </cattop>
        </routers>
        <layout>
            <updates>
                <cattop>
                    <file>cattop.xml</file>
                </cattop>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<cattop>
				<use>admin</use>
				<args>
					<module>Magentothem_Cattop</module>
					<frontName>cattop</frontName>
				</args>
			</cattop>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magentothem translate="title" module="cattop">
				<title>Magentothem</title>
				<sort_order>71</sort_order>               
				<children>
					<cattop translate="title" module="cattop">
						<title>Category Top</title>
						<sort_order>0</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/cattop</action>
							</configuration>
						</children>
					</cattop>
				</children>
			</magentothem>
		</menu>
		<layout>
			<updates>
				<cattop>
					<file>cattop.xml</file>
				</cattop>
			</updates>
		</layout>
<!--         <events>
            <admin_system_config_changed_section_cattop>
                <observers>
                    <cattop_save_config>
                        <type>singleton</type>
                        <class>cattop/observer_config</class>
                        <method>saveConfig</method>
                    </cattop_save_config>
                </observers>
            </admin_system_config_changed_section_cattop>
        </events> -->

    </adminhtml>   
    <global>
        <resources>
            <cattop_setup>
                <setup>
                    <module>Magentothem_Cattop</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cattop_setup>
            <cattop_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cattop_write>
            <cattop_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cattop_read>
        </resources>
        <blocks>
            <cattop>
                <class>Magentothem_Cattop_Block</class>
            </cattop>
        </blocks>
        <helpers>
            <cattop>
                <class>Magentothem_Cattop_Helper</class>
            </cattop>
        </helpers>
    </global>
	<default>
		<cattop>
			<top_config>
			    <enabled>1</enabled>
			    <title>CATEGORY TOP</title>
			    <!-- <sort_name>asc</sort_name> -->
			    <number_columns>4</number_columns>
			    <item_width>250</item_width>
			    <width_thumbnail>31</width_thumbnail>
			    <height_thumbnail>31</height_thumbnail>
			    <!-- <background_color>#BDBDBD</background_color> -->
			</top_config>
		</cattop>
	</default>
</config>